[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.cssdesignawards.com/award/20131129/nominee/png/nominee-mauve-cssda-right.png
Type=Link
URL=http://www.cssdesignawards.com/award/20131129/nominee/png/nominee-mauve-cssda-right.png
Icon=image-png
