header{
display: block;
}

#cabecera{
background: white;
    width: 100%;
    height: auto;
    text-align: center;
    border-bottom: solid 1px #D6D7DC;
    color: #000;
    padding-top: 40px;
    padding-bottom: 40px;
    font: 15px letter gothic, sans-serif;	
}

body{
text-align: center;
margin: 0px;
padding: 0px;
}