[Desktop Entry]
Encoding=UTF-8
Name=Link to Tweet
Type=Link
URL=https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fsable.agency%2Fsites%2Fclicks%2F&ref_src=twsrc%5Etfw&related=anywhereTheJavascriptAPI&text=hola%20%3AD&tw_p=tweetbutton&url=http%3A%2F%2Fclicks-power.com%2F&via=sable_studio
Icon=text-html
